.cash{
  width: 2rem;
  height: 2rem;
}
.cart{
  width: 2rem;
  height: 2rem;
}
.show_balance{
font-family:"Varela Round";
font-size: 20px;
color: #6528F7;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 14px 12px 14px;
  .show_name{
    font-family: "Varela Round";
    font-weight: bold;
    margin-bottom: 14%;
  }
}
