<div class="card-container">
  <mat-card class="main-card">
    <mat-card-content>
     <app-header></app-header>
      <!-- <div class="listBox" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px"> -->
        <!-- <div *ngIf="(customerData$ | async) as customerData" class="orderBox" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px"> -->
         <app-orderlist></app-orderlist>
      <!-- </div> -->
      <!-- <ng-template #noOrders>
        <h2 class="template">Insufficient funds,Please add!</h2>
      </ng-template> -->
    <!-- </div> -->
    </mat-card-content>
  </mat-card>
  </div>
