<mat-toolbar class="header-toolbar">
  <mat-nav-list class="header-tabs">
 <span mat-list-item [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Home</span>
 <span mat-list-item [routerLink]="['payment']" [routerLinkActive]="['active']" >Payment</span>
 <span mat-list-item [routerLink]="['orders']" [routerLinkActive]="['active']">Orders</span>
 <span mat-list-item [routerLink]="['profile']" [routerLinkActive]="['active']">Profile</span>
</mat-nav-list>
</mat-toolbar>
