<div class="card-container">
<mat-card class="main-card">
  <mat-card-content>
  <app-header></app-header>
    <div class="formbody" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
    <mat-card-title>Add balance:</mat-card-title>
    <mat-form-field>
      <input type="number" #balance matInput autocomplete="off">
    </mat-form-field>
    <button mat-raised-button class="actionbtn" (click)="addBalance(balance)">Add</button>
    <span *ngIf="(balance$ | async)as balance">Your Current balance:{{balance|currency:'USD'}}</span>
  </div>
  </mat-card-content>
</mat-card>
</div>
